/Project/Server/Server/obj/Debug
/Project/Server/Server/bin/Debug
/Project/Client/GUI/Client_GUI/obj/Debug
/Project/Client/GUI/Client_GUI/bin/Debug
/Project/Client/TUI/Client/obj/Debug
/Project/Client/TUI/Client/bin/Debug
